AWS_REGION=ap-southeast-2

MEDIA_TABLE=fit5225-team102-media-files
TAG_INDEX_TABLE=fit5225-team102-tag-index
THUMB_LOOKUP_TABLE=fit5225-team102-thumb-lookup
TAG_SUBSCRIPTION_TABLE=fit5225-team102-tag-subscriptions

BUCKET_NAME=fit5225-team102-aussie-ecolens

USER_POOL_ID=ap-southeast-2_NgrJbyS3q
CLIENT_ID=5k2a9ipn97p3efqfev1gtl07r9
COGNITO_DOMAIN=https://ap-southeast-2ngrjbys3q.auth.ap-southeast-2.amazoncognito.com
REDIRECT_URI=http://localhost:3000
