# IDE
.idea/
.vscode/
*.iml

# Python
__pycache__/
*.pyc
.pytest_cache/
.aws-sam/

# OS
.DS_Store
Thumbs.db

# SAM build artifacts
.aws-sam/
part4-query-by-file/query_by_file/model.pt
part4-query-by-file/query_by_file/Dockerfile-fn-tmp*
