AWS_REGION=ap-southeast-2

UPLOAD_BUCKET=fit5225-team102-aussie-ecolens
UPLOAD_PREFIX=uploads/
THUMBNAIL_PREFIX=thumbnails/
TEMP_PREFIX=temp/

PART3_UPSERT_URL=https://5jo3ferouh.execute-api.ap-southeast-2.amazonaws.com/prod/data/media
PART3_AUTH_TOKEN=

MODEL_BUCKET=fit5225-team102-aussie-ecolens
MD_MODEL_KEY=models/mdv5a.pt
SPECIES_MODEL_KEY=models/model.pt
LABELS_KEY=models/labels.txt
MIN_DETECTION_CONF=0.2

ENABLE_MODEL_INFERENCE=true
MODEL_NAME=wildlife-detector
MODEL_VERSION=v1
