AWS_REGION=ap-southeast-2
PART3_UPSERT_URL=https://<part3-api-id>.execute-api.ap-southeast-2.amazonaws.com/prod/data/media
PART3_AUTH_TOKEN=
MODEL_BUCKET=fit5225-team102-aussie-ecolens
MD_MODEL_KEY=models/mdv5a.pt
SPECIES_MODEL_KEY=models/model.pt
LABELS_KEY=models/labels.txt
MIN_DETECTION_CONF=0.2
